body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  font-size: 50px;
  padding: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 25px;
}


h4 {
  font-weight: 200;
  margin: 20px;
  color: rgb(17, 17, 185);
}

text {
  font-weight: 200;
}

.countries {
  stroke: #000000;
  stroke-width: 0.25px;
  background-color:rgb(57, 158, 241);
  display: flex;
  position: relative;
}

button {
  border-radius: 80%;
  font-size: 16px;
  background-color: lemonchiffon;
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 50px; */
}

header h3 {
  margin: 0;
}

#nav-bar {
  margin-top: 10px;
  font-size: 70px;
}

.country {
  display: block;
  /* fill: rgb(157, 204, 179); */
  position: relative;
}

.country:hover {
  display: block;
  cursor: pointer;
  fill: yellow;
}

.graticule {
  fill: none;
  stroke: rgb(173, 172, 172);
  stroke-width: .5px;
  stroke-opacity: .5;
}

.globe-data {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content:space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.globe {
  display: flex;
  width: 60%;
}

.country-container {
  display: none;
  width: 100%;
  height: 50%;
  background-color: rgb(209, 243, 209);
}

.globe-container {
  display: flex;
  /* border-style: solid ; */
  /* border-color: black; */
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  background-color: aliceblue;
}

.display-data-1 {
  width: 90%;
}


.display-scatterplot-data {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.display-data-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.display-data-title h3 {
  margin-top: 50px;
  margin-bottom: -10px;
}

.control-panel {
  width: 90%;
}

.scenario-slider {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  
}

.scenarios-control {
  display: block;
  border-style: solid ;
  border-color: rgb(172, 170, 170);
  border-width: 1px;
  border-bottom-style:dotted;
  background-color: rgb(225, 221, 221);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.crops-control {
  display: block;
  border-style: solid;
  border-color: rgb(172, 170, 170);
  border-width: 1px;
  background-color: rgb(223, 219, 219);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  box-shadow: 10px 5px 5px lightslategrey;
  
}


.scenario-slider ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.crop-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.info {
  display: flex;
  align-items: center;
}

i {
  margin: 3px;
  font-size: 16px;
  position: relative;
  display: flex;
}

i .more-info {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 180px;
  bottom: 100%;
  left: 50%;
  margin-left: -250px;
  font-size: 18px;
  background-color: rgb(110, 107, 107);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
}

.more-info table, th, td {
  border: 1px white solid;
  padding: 2px;
}

i:hover .more-info {
  visibility: visible;
}

